<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">
<div class="table-container">
<div class="panel experiences-table">

    <div class="experiences-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="experiences-img">
        <h4 class="experiences-header">Data Science</h4>
        <ul class="experiences-features">
            <li class="experiences-features-item">Custom domains</li>
            <li class="experiences-features-item">Sleeps after 30 mins of inactivity</li>
        </ul>
        <span class="pricing-price">Free</span>
        <a href="#/" class="experiences-button">Sign up</a>
    </div>

    <div class="experiences-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="experiences-img">
        <h4 class="experiences-header">Developpement</h4>
        <ul class="experiences-features">
            <li class="experiences-features-item">Never sleeps</li>
            <li class="experiences-features-item">Multiple workers for more powerful apps</li>
        </ul>
        <span class="pricing-price">$150</span>
        <a href="#/" class="experiences-button is-featured">Free trial</a>
    </div>

    <div class="experiences-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="experiences-img">
        <h4 class="experiences-header">Soft Skills</h4>
        <ul class="experiences-features">
            <li class="experiences-features-item">Dedicated</li>
            <li class="experiences-features-item">Simple horizontal scalability</li>
        </ul>
        <span class="pricing-price">$400</span>
        <a href="#/" class="experiences-button">Free trial</a>
    </div>

</div>
</div>