<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">
<div class="table-container">
<div class="panel experiences-table">

    <div class="experiences-plan">
        <img src="../static/image/data.svg" alt="" class="experiences-img">
        <h4 class="experiences-header">Data Science</h4>
        <ul class="experiences-features">
            <p class="experiences-features-item">Modèles utilisé</p>
            <p> DNN, CNN, classification Bayesienne naive, Random Forest, regression Logistique, regrassion lineaire,HMM </p>
            <p class="experiences-features-item"> Framework </p>
            <p> Tensorflow, Keras, Pandas, ScikitLearn</p>
        </ul>
    </div>

    <div class="experiences-plan">
        <img src="../static/image/coding.svg" alt="" class="experiences-img">
        <h4 class="experiences-header">Developpement</h4>
        <ul class="experiences-features">
            <p class="experiences-features-item">Langages</p>
            <p> Python, Java, HTML, CSS, TypeScript, MySQL, PostgreSQL</p>
            <p class="experiences-features-item">Framework</p>
            <p> Angular, Flask, Bootstrap, Beautifulsoup</p>
            <p class="experiences-features-item"> Concepte </p>
            <p> APIRest, Git, Amazon RDS, Amazon elastic Beanstalk</p>
        </ul>
    </div>

    <div class="experiences-plan">
        <img src="../static/image/skills.svg" alt="" class="experiences-img">
        <h4 class="experiences-header">Soft Skills</h4>
        <ul class="experiences-features">
            <p class="experiences-features-item">Gestion de Projet, Agile</p>
        </ul>
    </div>

</div>
</div>