{% extends 'layout.html' %}
{% block body %}
    <h1 >Ingénieur en Machine learning et développeur Python</h1>
    <h2 > Je recupère, je traite et j'utilise la donnée</h2>
    <img src="../static/image/desktop.svg" class="desktop" >
    <section id="background">
        <h2 class="marge">Bonjour je suis <span class="shiny">Pierre-Louis </span>et je suis ravi de vous présenter mon parcours!</h2>
        <p class="center">Au cours de mes études d'ingénieurs à l'EPF j'ai eu l'occasion de faire des satges et de prendre parti dans des projets autour du machine learning</p>
    </section>
    {% include '_table.html' %}
    {% include '_experiences.html' %}


{% endblock %}